<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>


    <logger name="org.obd.metrics.command.obd.BatchObdCommand"
        level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


	<logger name="org.obd.metrics.command.obd.SupportedPidsCommand"
		level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.obd.metrics.api.CANMessageHeaderManager"
		level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.obd.metrics.transport.DefaultConnector"
		level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>